<!-- Header Partial - Reusable company header for all documents -->
<div class="header">
  <div class="header-logo">
    {{#if header.logoBase64}}
    <img src="{{header.logoBase64}}" alt="Company Logo">
    {{/if}}
  </div>
  <div class="header-info">
    <div class="company-name-wrapper">
      <div class="company-name">{{header.companyName}}</div>
      <div class="header-line"></div>
    </div>
    <div class="header-address">
      {{header.address1}}<br>
      {{header.address2}}<br>
      {{header.phone}}
    </div>
  </div>
</div>
